# Advent of Code 2020 - Puzzle 5B

## Import packages

In [1]:
import numpy as np
import pandas as pd

## Main

In [2]:
def binairy_parser(string, upp, low, rmin, rmax, slen):
    """parse a given (part) of a binairy string."""
    
    # check stringlength
    if len(string) > slen:
        raise ValueError('string length exceeds maximum')
        
    # iterate over identifiers in string
    for nr, idf in enumerate(string):
        
        # correct for zero indexing
        nr = nr + 1
        
        # if upper identifier
        if idf == upp:
            if nr < slen:
                rmax -= (rmax - rmin + 1) / 2
            else:
                return int(rmin)
            
        # if lower identifier
        elif idf == low:    
            if nr < slen:
                rmin += (rmax - rmin + 1) / 2
            else:
                return int(rmax)
        
        # raise error for unknown identifiers
        else:
            raise ValueError(f'{idf} is not a valid identifier')
        

def row_parser(string):
    """parse rows with single 
    string argument for mappability"""
    
    # specify defaults
    upp, low = 'F', 'B'
    rmin, rmax = 0, 127
    slen = 7
    
    # get result
    result = binairy_parser(string, upp, low, rmin, rmax, slen)
    
    return result

def column_parser(string):
    """parse columns with single
    string argument for mappability"""
    
    # specify defaults
    upp, low = 'L', 'R'
    rmin, rmax = 0, 7
    slen = 3
    
    # get result
    result = binairy_parser(string, upp, low, rmin, rmax, slen)
    
    return result

In [3]:
df = pd.read_csv('data/input_puzzle_5.txt', header=None, names=['binairy_id'])

# identify rows
rstr = df.binairy_id.str[:7]
df['row'] = rstr.apply(row_parser)

# identify columns
cstr = df.binairy_id.str[7:]
df['column'] = cstr.apply(column_parser)

# make seat_id
df['seat_id'] = df.row * 8 + df.column

# show df
df.head()

   binairy_id  row  column  seat_id
0  BBFFBFFRRR  100       7      807
1  FBBFFBBLRR   51       3      411
2  FFBFBFBRRR   21       7      175
3  FFFBFBFRRR   10       7       87
4  BBFFBBFLRR  102       3      819

In [4]:
# get max seat id
mx = df.seat_id.max()

# print result
print(f'Maximum seat ID: {mx}')

Maximum seat ID: 871

In [5]:
# specify plane dimensions
index = [x for x in range(128)]
columns = [x for x in range(8)]

# make plane dataframe
plane = pd.DataFrame(np.nan, index=index, columns=columns)

# place tickets in plane
for idx, values in df.iterrows():
    plane.at[values.row, values.column] = 1
    
# check plane layout for possible position
plane[plane.isna().any(axis=1)].head()

      0    1    2    3    4    5    6    7
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  1.0  1.0  1.0  1.0
80  NaN  1.0  1.0  1.0  1.0  1.0  1.0  1.0
109 NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
110 NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [6]:
# make seat id
seat = 80 * 8 + 0

# print result
print(f'My seat ID: {seat}')

My seat ID: 640