# Advent of Code 2020 - Puzzle 2B

## Import packages

In [90]:
import pandas as pd
import re

## Load data

In [91]:
data = pd.read_csv("data/input_puzzle_2.txt", header = None, delimiter = " ")
data.columns = ['pattern_letter_pos_1-2', 'pattern_letter', 'password'] # Add column names
data.head()

  pattern_letter_pos_1-2 pattern_letter           password
0                    2-4             p:              vpkpp
1                   6-16             b:  bbbbbbbbbbbbbbbpb
2                    6-7             z:            zzfzzdz
3                    4-6             q:   tfzqvqcpcmqqjqzd
4                    7-8             k:           rkkkknkw

## Prepare data

In [92]:
# New data frame with split value columns for column "pattern_letter_pos_1-2"
new = data["pattern_letter_pos_1-2"].str.split("-", n = 1, expand = True)

# Making separate first name column from new data frame 
data["pattern_letter_pos_1"]= new[0] 
  
# Making separate last name column from new data frame 
data["pattern_letter_pos_2"]= new[1] 
  
# Dropping old Name columns 
data.drop(columns =["pattern_letter_pos_1-2"], inplace = True)

# Remove ":" character from column "pattern_letter"
data.pattern_letter = data.pattern_letter.str.replace(':', '') 
     
data.head()

  pattern_letter           password pattern_letter_pos_1 pattern_letter_pos_2
0              p              vpkpp                    2                    4
1              b  bbbbbbbbbbbbbbbpb                    6                   16
2              z            zzfzzdz                    6                    7
3              q   tfzqvqcpcmqqjqzd                    4                    6
4              k           rkkkknkw                    7                    8

## Function password validation

In [93]:
def split(word): 
    return [char for char in word]

In [96]:
def passwordValid(password, pattern_letter, pattern_letter_pos_1, pattern_letter_pos_2):
    password_split = split(password)
    
    # Check if the password is valid:
    if (password_split[int(pattern_letter_pos_1) - 1] == pattern_letter) and (password_split[int(pattern_letter_pos_2) -1] != pattern_letter):
        return True  # valid password
    elif (password_split[int(pattern_letter_pos_1) - 1] != pattern_letter) and (password_split[int(pattern_letter_pos_2) -1] == pattern_letter):
        return True  # valid password
    else:
        return False # invalid password

## Main

In [97]:
# Append for each row in DataFrame data a boolean passwordValid:
data['boolean_passwordValid'] = data.apply(lambda row : passwordValid(row['password'], row['pattern_letter'], row['pattern_letter_pos_1'], row['pattern_letter_pos_2']), axis = 1)

In [98]:
# Calculate the sum of the valid passwords:
total_number_of_valid_passwords = data['boolean_passwordValid'].values.sum()
print("Total valid passwords: ", total_number_of_valid_passwords)

Total valid passwords:  745