# Advent of Code 2020 - Puzzle 4A

## Import packages

In [1]:
import pandas as pd
import re

## Constants

In [2]:
expected_field_patterns = ["byr:", "iyr:", "eyr:", "hgt:", "hcl:", "ecl:", "pid:", "cid:"]

## Functions

In [3]:
def per_section(it, is_delimiter=lambda x: x.isspace()):
    ret = []
    for line in it:
        if is_delimiter(line):
            if ret:
                yield ''.join(ret)
                ret = []
        else:
            ret.append(line.rstrip())
    if ret:
        yield ''.join(ret)

## Load data

In [4]:
data = None

with open("data/input_puzzle_4.txt") as f:
    s = list(per_section(f))
    data = pd.DataFrame({'passport_str':s})

print(data)

                                          passport_str
0    iyr:2013 hcl:#ceb3a1hgt:151cm eyr:2030byr:1943...
1    eyr:1988iyr:2015 ecl:gryhgt:153in pid:173cmhcl...
2    hcl:#733820hgt:166cm eyr:2025 pid:79215921 byr...
3    eyr:2022hgt:165cm hcl:#733820iyr:2013 pid:0730...
4    iyr:2013ecl:brn hcl:#623a2fcid:246 byr:1948 pi...
..                                                 ...
280  hgt:171cm hcl:#cfa07d pid:674448249ecl:hzl eyr...
281  ecl:hzl eyr:2021 hcl:#b6652a pid:856617617byr:...
282  hgt:164cm ecl:gryeyr:2025pid:147932207 iyr:201...
283  eyr:2027 hcl:#7d3b0cpid:377701492 ecl:gry byr:...
284  byr:2001 hcl:#4784a2 hgt:161cm iyr:2014 eyr:20...

[285 rows x 1 columns]

## Functions for passport validation

In [10]:
def passportCheck(passport_str, expected_field_pattern):
    patternRegex = re.compile(expected_field_pattern)
    passportCheck = patternRegex.findall(passport_str)
    
    # Check if the total number of pattern_letter is valid:
    if len(passportCheck) == 1:
        return True  # Passport has the expected field pattern
    else:
        return False # Passport hasn't the expected field pattern

In [11]:
def passportValid(row, data_with_done_passportCheck):
    if row[1:8].all() == True: # all expected_field_patterns except "cid:" are True
        return True
    else:
        return False

## Main

In [12]:
# Append for each row in DataFrame data a boolean passportCheck per expected field pattern:
data_with_done_passportCheck = data.copy()

for i in range(len(expected_field_patterns)):
    column_name = 'boolean_' + str(expected_field_patterns[i])
    data_with_done_passportCheck[column_name] = data_with_done_passportCheck.apply(lambda row : passportCheck(row['passport_str'], expected_field_patterns[i]), axis = 1)
    
data_with_done_passportCheck

,passport_str,boolean_byr:,boolean_iyr:,boolean_eyr:,boolean_hgt:,boolean_hcl:,boolean_ecl:,boolean_pid:,boolean_cid:
0,iyr:2013 hcl:#ceb3a1hgt:151cm eyr:2030byr:1943...,True,True,True,True,True,True,False,False
1,eyr:1988iyr:2015 ecl:gryhgt:153in pid:173cmhcl...,True,True,True,True,True,True,True,False
2,hcl:#733820hgt:166cm eyr:2025 pid:79215921 byr...,True,True,True,True,True,True,True,False
3,eyr:2022hgt:165cm hcl:#733820iyr:2013 pid:0730...,False,True,True,True,True,True,True,True
4,iyr:2013ecl:brn hcl:#623a2fcid:246 byr:1948 pi...,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
280,hgt:171cm hcl:#cfa07d pid:674448249ecl:hzl eyr...,True,False,True,True,True,True,True,True
281,ecl:hzl eyr:2021 hcl:#b6652a pid:856617617byr:...,True,True,True,True,True,True,True,False
282,hgt:164cm ecl:gryeyr:2025pid:147932207 iyr:201...,True,True,True,True,True,True,True,False
283,eyr:2027 hcl:#7d3b0cpid:377701492 ecl:gry byr:...,True,True,True,True,True,True,True,False
284,byr:2001 hcl:#4784a2 hgt:161cm iyr:2014 eyr:20...,True,True,True,True,True,True,True,False

In [14]:
data_with_passportValidation = data_with_done_passportCheck.copy()

for i in range(len(data_with_done_passportCheck)):
    data_with_passportValidation["boolean_passport_valid"] = data_with_passportValidation.apply(lambda row : passportValid(row, data_with_done_passportCheck), axis = 1) 

data_with_passportValidation

,passport_str,boolean_byr:,boolean_iyr:,boolean_eyr:,boolean_hgt:,boolean_hcl:,boolean_ecl:,boolean_pid:,boolean_cid:,boolean_passport_valid
0,iyr:2013 hcl:#ceb3a1hgt:151cm eyr:2030byr:1943...,True,True,True,True,True,True,False,False,False
1,eyr:1988iyr:2015 ecl:gryhgt:153in pid:173cmhcl...,True,True,True,True,True,True,True,False,True
2,hcl:#733820hgt:166cm eyr:2025 pid:79215921 byr...,True,True,True,True,True,True,True,False,True
3,eyr:2022hgt:165cm hcl:#733820iyr:2013 pid:0730...,False,True,True,True,True,True,True,True,False
4,iyr:2013ecl:brn hcl:#623a2fcid:246 byr:1948 pi...,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
280,hgt:171cm hcl:#cfa07d pid:674448249ecl:hzl eyr...,True,False,True,True,True,True,True,True,False
281,ecl:hzl eyr:2021 hcl:#b6652a pid:856617617byr:...,True,True,True,True,True,True,True,False,True
282,hgt:164cm ecl:gryeyr:2025pid:147932207 iyr:201...,True,True,True,True,True,True,True,False,True
283,eyr:2027 hcl:#7d3b0cpid:377701492 ecl:gry byr:...,True,True,True,True,True,True,True,False,True
284,byr:2001 hcl:#4784a2 hgt:161cm iyr:2014 eyr:20...,True,True,True,True,True,True,True,False,True

In [15]:
# Calculate the sum of the valid passports:
total_number_of_valid_passports = data_with_passportValidation['boolean_passport_valid'].values.sum()
print("Total valid passports: ", total_number_of_valid_passports)

Total valid passports:  208