# Advent of Code 2020 - Puzzle 6A

## Import packages

In [1]:
import pandas as pd

from collections import defaultdict, Counter

## Functions

In [2]:
def read_file(filestring):

    # open data and read lines
    with open(filestring, 'r') as file:
            lines = file.read().splitlines()

    # make storage object
    data = defaultdict(lambda: {})

    # make first entry
    entry, size, string = 0, 0, ''

    # iterate over all ines
    for line in lines:

        if len(line) != 0:
            
            # add entry data
            size += 1
            string += line

        else:

            # set data
            data[entry]['groupsize'] = size
            data[entry]['formstring'] = string

            # make new entry
            entry += 1
            
            # reset old entry
            size, string = 0, ''

    # make dataframe from dict
    df = pd.DataFrame.from_dict(data, orient='index')
    
    return df

## Main

In [3]:
# read dataframe
stats = read_file('data/input_puzzle_6.txt')

# make requested information
stats['unique'] = stats.formstring.apply(set).apply(len)

# show result
stats.head()

   groupsize                                         formstring  unique
0          2                           necytxmlfhsuuecosjvlhpmk      17
1          2                     mnslbuziphawkxygwhpmnesikaglzb      17
2          2                                             kawakw       3
3          4                                  qurghrqugqrgugruq       5
4          5  sczomkvzejkhvslmucbwdopxsianovzcmktcokmvsyzozs...      23

In [4]:
# print requested numbers
print(f'Sum of nr. of unique yes over groups: {stats.unique.sum()}')

Sum of nr. of unique yes over groups: 6616