# Advent of Code 2020 - Puzzle 1A

## Import packages

In [85]:
import pandas as pd
import itertools

## Load data

In [86]:
data = pd.read_csv("data/input_puzzle_1.txt", header = None)
data.head()

      0
0  1728
1  1954
2  1850
3  1825
4  1732

## Convert data to array

In [87]:
array = data.to_numpy()

## Find the magic combination that equals the year 2020

In [88]:
solution = None
for x, y in itertools.product(array, array):
    if x+y==2020:
        print("\nMagic combination that sums up to 2020 is:")
        print(x[0], y[0])
        solution = x[0] * y[0]
        print("Solution: ", solution)

Magic combination that sums up to 2020 is:
215 1805
Solution:  388075

Magic combination that sums up to 2020 is:
1805 215
Solution:  388075